<!DOCTYPE html>
<html class="no-js" lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <title>Add Product Step 3 | Skjs Grocery Store</title>
    <link href="https://fonts.googleapis.com/css?family=Cairo:400,600,700&amp;display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Poppins:600&amp;display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400i,700i" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu&amp;display=swap" rel="stylesheet"/>
    <link href="/assets/productImages/favicon.png" rel="shortcut icon" type="image/x-icon"/>
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/css/animate.min.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/css/nice-select.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/css/slick.min.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/css/style.css" rel="stylesheet" type="text/css"/>
    <th:block th:insert="~{themes}"></th:block>
</head>
<style>
    .nice-select {
      width: 180px;
      right: 70px !important;
    }
    .search_button {
      width: 60px !important;
    }
    a {
      text-decoration: auto !important;
    }
    .block1_links {
      font-family: "Cairo";
      color: #7faf51 !important;
      font-size: 30px !important;
    }

    .tbl_head {
      font-weight: 700;
    }

    #product_list_wrapper {
      font-size: 20px !important;
    }

    .form_field {
      font-size: 17px;
      height: 45px;
      border: 1px solid !important;
      border-radius: 0.375rem !important;
    }
    .bottom_buttons {
      font-size: 17px;
      font-weight: 400;
      line-height: 1.42857143;
      padding: 6px 12px;
    }
    .has-feedback .form-control {
      padding-right: 7.5px;
    }

    .stepwizard {
      display: table;
      width: 100%;
      position: relative;
    }
    .stepwizard-row {
      display: table-row;
    }
    .stepwizard-step {
      display: table-cell;
      text-align: center;
      position: relative;
    }
    .stepwizard-row:before {
      top: 14px;
      bottom: 0;
      position: absolute;
      content: " ";
      width: 100%;
      height: 1px;
      background-color: #ccc;
    }
    .x_panel {
      border: 1px solid #e6e9ed;
      padding: 10px 17px;
    }
    .x_title {
      padding: 1px 5px 6px;
      margin-bottom: 10px;
    }
    .x_title h2 small {
      margin-left: 10px;
      font-size: 14px;
    }
    label {
      font-weight: 600;
    }
    .btn_upload {
      cursor: pointer;
      display: inline-block;
      overflow: hidden;
      position: relative;
      color: #fff;
      background-color: #7faf51;
      border: 1px solid #7faf00;
      padding: 5px 10px;
    }

    .btn_upload:hover,
    .btn_upload:focus {
      background-color: #e73918;
      border: 1px solid rgb(165, 41, 16);
    }

    .yes {
      display: flex;
      align-items: flex-start;
      margin-top: 10px !important;
      border: 1px solid !important;
      border-radius: 0.375rem !important;
    }

    .btn_upload input {
      cursor: pointer;
      height: 100%;
      position: absolute;
      filter: alpha(opacity=1);
      -moz-opacity: 0;
      opacity: 0;
    }

    .it {
      height: 200px;
      max-width: 200px;
      min-width: 200px;
      margin-left: 10px;
    }

    .btn-rmv1,
    .btn-rmv2,
    .btn-rmv3,
    .btn-rmv4,
    .btn-rmv5 {
      display: none;
    }

    .rmv {
      cursor: pointer;
      color: #fff;
      border-radius: 30px;
      border: 1px solid #fff;
      display: inline-block;
      background: #e73918;
      margin: -5px -10px;
    }

    .rmv:hover {
      background: rgb(165, 41, 16);
    }
</style>
<body class="biolife-body">
<!-- HEADER -->
<!-- row1 -->
<header class="header-area style-01 layout-03" id="header">
    <div th:insert="~{header_section1}"></div>
    <!-- row2 -->
    <div th:insert="~{header}"></div>
</header>
<!-- Page Contain -->

<div class="page-contain">
    <div class="main-content" id="main-content">
        <!--Block 01: Main slide-->
        <div class="container" style="font-size: 17px; margin-top: 10px">
            <a href="/catalogue"><i aria-hidden="true" class="fa fa-arrow-left"></i> Back to Listing</a>
            <div class="x_panel">
                <div class="x_title">
                    <h2>
                        <strong style="color: #7faf51">Images</strong><small>Fields mark with <span
                            style="color: red">*</span> are mandatory</small>
                    </h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="stepwizard">
                        <div class="stepwizard-row setup-panel">
                            <div class="stepwizard-step">
                                <a class="btn btn-default btn-circle" disabled="disabled" href="javascript:;">1</a>
                                <p><strong>Product details</strong></p>
                            </div>

                            <div class="stepwizard-step">
                                <a class="btn btn-default btn-circle" disabled="disabled" href="javascript:;">2</a>
                                <p><strong>Sale Info</strong></p>
                            </div>
                            <div class="stepwizard-step">
                                <a class="btn btn-primary btn-circle" href="javascript:;">3</a>
                                <p><strong>Images</strong></p>
                            </div>

                            <div class="stepwizard-step">
                                <a class="btn btn-default btn-circle" disabled="disabled" href="javascript:;">4</a>
                                <p><strong>Description</strong></p>
                            </div>
                        </div>
                    </div>

                    <form enctype="multipart/form-data" method="post" th:action="'/saveProductStep3/' + ${id}"
                          th:object="${productImages}">
                        <div class="row">
                            <div class="col-xs-12 New-Enquiry" style="margin-top: 30px">
                                <label>Conditions:</label>
                                <ul>
                                    <li>You can select upto 5 Images only.</li>
                                    <li>File format for all productImages can be .jpg, .jpeg, .png, .webp only.</li>
                                </ul>
                                <div class="col-md-12 New-Enquiry">
                                    <input class="proid" th:value="${id}" type="hidden"/>
                                    <div class="col-md-4 col-sm-4 col-xs-12 form-group has-feedback New-Enquiry">
                                        <div class="yes">
                          <span class="btn_upload">
                            <input class="input-img pic1" id="1" name="files" title="Main Image" type="file"/>
                            Choose Main Image <span style="color: red">*</span>
                          </span>
                                            <!-- th:attr="${productImages.mainImage == null ? required:''}" -->
                                            <img class="" id="ImgPreview1" src=""
                                                 th:if="${productImages.mainImage == null}"/>
                                            <img id="ImgPreview1"
                                                 th:class="${productImages.mainImage == null} ? '' : 'it'"
                                                 th:if="${productImages.mainImage != null}"
                                                 th:src="@{/productImages/product1/{pid}/{name}(name=${productImages.mainImage},pid=${id})}"/>
                                            <input class="imageName" no="1"
                                                   th:value="${productImages.mainImage == null} ? '': ${productImages.mainImage}"
                                                   type="hidden"/>
                                            <input id="1"
                                                   th:class="${productImages.mainImage == null} ? 'btn-rmv btn-rmv1 rmv1' : 'btn-rmv btn-rmv1 rmv1 rmv'"
                                                   type="button"
                                                   value="x"/>
                                        </div>
                                        <p class="error1" style="color: red"></p>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-md-4 col-sm-4 col-xs-12 form-group has-feedback New-Enquiry">
                                        <div class="yes">
                          <span class="btn_upload">
                            <input class="input-img pic2" id="2" name="files" title="Image 2" type="file"/>
                            Image 2
                          </span>
                                            <img class="" id="ImgPreview2" src=""
                                                 th:if="${productImages.image2 == null}"/>
                                            <img class="it" id="ImgPreview2"
                                                 th:if="${productImages.image2 != null}"
                                                 th:src="@{/productImages/product1/{pid}/{name}(name=${productImages.image2},pid=${id})}"/>
                                            <input class="imageName" no="2"
                                                   th:value="${productImages.image2 == null} ? '': ${productImages.image2}"
                                                   type="hidden"/>
                                            <input id="2"
                                                   th:class="${productImages.image2 == null} ? 'btn-rmv btn-rmv2 rmv2' : 'btn-rmv btn-rmv2 rmv2 rmv'"
                                                   type="button"
                                                   value="x"/>
                                        </div>
                                        <p class="error2" style="color: red"></p>
                                    </div>

                                    <div class="col-md-4 col-sm-4 col-xs-12 form-group has-feedback New-Enquiry">
                                        <div class="yes">
                          <span class="btn_upload">
                            <input class="input-img pic3" id="3" name="files" title="Image 3" type="file"/>
                            Image 3
                          </span>
                                            <img class="" id="ImgPreview3" src=""
                                                 th:if="${productImages.image3 == null}"/>
                                            <img class="it" id="ImgPreview3"
                                                 th:if="${productImages.image3 != null}"
                                                 th:src="@{/productImages/product1/{pid}/{name}(name=${productImages.image3},pid=${id})}"/>
                                            <input class="imageName" no="3"
                                                   th:value="${productImages.image3 == null} ? '': ${productImages.image3}"
                                                   type="hidden"/>
                                            <input id="3"
                                                   th:class="${productImages.image3 == null} ? 'btn-rmv btn-rmv3 rmv3' : 'btn-rmv btn-rmv3 rmv3 rmv'"
                                                   type="button"
                                                   value="x"/>
                                        </div>
                                        <p class="error3" style="color: red"></p>
                                    </div>
                                    <div class="clearfix"></div>

                                    <div class="col-md-4 col-sm-4 col-xs-12 form-group has-feedback New-Enquiry">
                                        <div class="yes">
                          <span class="btn_upload">
                            <input class="input-img pic4" id="4" name="files" title="Image 4" type="file"/>
                            Image 4
                          </span>
                                            <img class="" id="ImgPreview4" src=""
                                                 th:if="${productImages.image4 == null}"/>
                                            <img class="it" id="ImgPreview4"
                                                 th:if="${productImages.image4 != null}"
                                                 th:src="@{/productImages/product1/{pid}/{name}(name=${productImages.image4},pid=${id})}"/>
                                            <input class="imageName" no="4"
                                                   th:value="${productImages.image4 == null} ? '': ${productImages.image4}"
                                                   type="hidden"/>
                                            <input id="4"
                                                   th:class="${productImages.image4 == null} ? 'btn-rmv btn-rmv4 rmv4' : 'btn-rmv btn-rmv4 rmv4 rmv'"
                                                   type="button"
                                                   value="x"/>
                                        </div>
                                        <p class="error4" style="color: red"></p>
                                    </div>

                                    <div class="col-md-4 col-sm-4 col-xs-12 form-group has-feedback New-Enquiry">
                                        <div class="yes">
                          <span class="btn_upload">
                            <input class="input-img pic5" id="5" name="files" title="Image 5" type="file"/>
                            Image 5
                          </span>
                                            <img class="" id="ImgPreview5" src=""
                                                 th:if="${productImages.image5 == null}"/>
                                            <img class="it" id="ImgPreview5"
                                                 th:if="${productImages.image5 != null}"
                                                 th:src="@{/productImages/product1/{pid}/{name}(name=${productImages.image5},pid=${id})}"/>
                                            <input class="imageName" no="5"
                                                   th:value="${productImages.image5 == null} ? '': ${productImages.image5}"
                                                   type="hidden"/>
                                            <input id="5"
                                                   th:class="${productImages.image5 == null} ? 'btn-rmv btn-rmv5 rmv5' : 'btn-rmv btn-rmv5 rmv5 rmv'"
                                                   type="button"
                                                   value="x"/>
                                        </div>
                                        <p class="error5" style="color: red"></p>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback"
                                         style="margin-top: 30px">
                                        <div class="New-Enquiry2">
                                            <a class="btn btn-primary bottom_buttons"
                                               style="margin-right: 0px !important"
                                               th:href="'/productStep2/' + ${id}"><i aria-hidden="true"
                                                                                     class="fa fa-step-backward"></i>&nbsp;Previous</a>
                                            <div style="display: flex; float: right">
                                                <button class="btn btn-success pull-left bottom_buttons" id="submit_but"
                                                        type="submit"><i aria-hidden="true" class="fa fa-floppy-o"></i>&nbsp;
                                                    Save & Next <i aria-hidden="true" class="fa fa-arrow-right"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- FOOTER -->
<div style="margin-top: 50px" th:insert="~{footer}"></div>

<!--Footer For Mobile-->
<div th:insert="~{footer_section1}"></div>
<!-- Scroll Top Button -->
<a class="btn-scroll-top"><i class="biolife-icon icon-left-arrow"></i></a>

<script src="/assets/js/jquery-3.4.1.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/jquery.countdown.min.js"></script>
<script src="/assets/js/jquery.nice-select.min.js"></script>
<script src="/assets/js/jquery.nicescroll.min.js"></script>
<script src="/assets/js/slick.min.js"></script>
<script src="/assets/js/biolife.framework.js"></script>
<script src="/assets/js/functions.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
        src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha256-xLD7nhI62fcsEZK2/v8LsBcb4lG7dgULkuXoXB/j91c="
        src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>

<script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap5.min.js"></script>

<script type="text/javascript">
    function readURL(input, imgControlName) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
          $(imgControlName).attr("src", e.target.result);
        };
        reader.readAsDataURL(input.files[0]);
      }
    }

    $(".input-img").change(function () {
      // add your logic to decide which image control you'll use
      var id = $(this).attr("id");
      var format = this.files[0].name.split(".").pop();
      if (format == "jpg" || format == "png" || format == "jpeg" || format == "webp") {
        $(".error" + id).html("");
        var imgControlName = "#ImgPreview" + id;
        readURL(this, imgControlName);
        $(imgControlName).addClass("it");
        $(".rmv" + id).addClass("rmv");
      } else {
        $(".error" + id).html("Unsupported File Format");
      }
    });

    $(".btn-rmv").click(function (e) {
      e.preventDefault();
      var ele = $(this).closest("div");
      var imageData = {
          imageName: ele.find(".imageName").val(),
          imageNo: ele.find(".imageName").attr("no"),
          productId : $(".proid").val()
      };

      if (imageData.imageName != "") {
        var confirmation = confirm("Are you sure You want To Delete This Image?");
        if (confirmation) {

          $.ajax({
            url: "/removeImage",
            method: "POST",
            contentType: "application/json",
            data: JSON.stringify(imageData), // Send the data as JSON
            success: function (data) {
              if (data == 1) {
                var id = ele.find(".btn-rmv").attr("id");
                $(".pic" + id).val("");
                $("#ImgPreview" + id).attr("src", "");
                $("#ImgPreview" + id).removeClass("it");
                $(".rmv" + id).removeClass("rmv");
              }
            },
          });
        }
      }
    });
</script>
</body>
</html>
